{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% load i18n %}
{% load account socialaccount %}

{% block site_title %}{% trans "Sign In" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Sign In" "account_login" %}
{% endblock %}

{% block content %}
<div class="ql-content">
  <div class="login-form">
    <p align="center">{% include 'svg/graduation.svg' %}</p>
    <p align="center">{% include 'svg/gradify-with-check.svg' %}</p>
    <h3 class="text-center login-title">Login</h3>
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <input id="id_login" class="form-control" maxlength="30" name="login" placeholder="Username" type="text" />{{ form.login.errors }}<br>
        <input id="id_password"  class="form-control" name="password" placeholder="Password" type="password" />{{ form.password.errors }}<br>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}        
        <button class="btn btn-block login-btn" type="submit">{% trans "Submit" %}</button><br>        
      </form>
    </div>
  <div class="hint-text small text-center">Don't have an account? <a href="{% url 'account_signup' %}"
      class="text-success">Register Now!</a></div>
</div>
{% endblock %}
