{% extends "base.html" %}

{% load i18n %}
{% load socialaccount %}

{% block site_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% get_social_accounts user as accounts %}

<div class="ql-content">
    <h1 class="bg-header bg-text">{% trans "Change Password" %}</h1>
{% if accounts %}
    <span>
        Google users cannot reset their password in Gradify<br />
        Please change your password in <a href="https://myaccount.google.com/signinoptions/password">Google</a>
    </span>
{% else %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endif %}

</div>
{{ provider.name }}
{% endblock %}
