{% extends "base.html" %}
{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% load i18n %}

{% block site_title %}{% trans "Signup" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Sign Up" "account_login" %}
{% endblock %}

{% block content %}
<div class="ql-content">
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    <section class="card">
        <div class="card-body">
            <header class="card-header">
                    <h2 class="card-title">Sign Up</h2>
            </header>
            <form action="" method="post">{% csrf_token %}
                <table>
                    {{ form }}
                </table>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>
</div>
{% endblock %}


