{% extends 'core/quicklink_base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Your Courses" "course-list" %}
    {% breadcrumb "Course Details" "course-detail" %}
{% endblock %}

{% block main-content %}
    <div class="ql-content">
        <h1 class="bg-header bg-text">Course Details</h1>
        <section class="card">
            <div class="card-body">
                <header class="card-header">
                    <span class="light-text">{{ course.section }}</span>
                    <h2 class="card-title"><a href="{% url 'course-detail' pk=course.pk %}">{{ course.name }}</a></h2>
                    <time class="light-text">{{ course.startDate | date:"M d, Y" }} -
                        {{ course.endDate | date:"M d, Y" }}</time>
                </header>
                <nav class="course-detail-nav">
                    <div>
                        <span>{% include 'svg/course-details-gradebook.svg' %}<a href="{% url 'studentsubmission-list' pk=course.pk %}">View/Edit Gradebook</a></span>
                        <p>Display all enrolled students and view/edit thier assignment grades in one convenient location.
                        </p>
                    </div>
                    {# TODO need to decide on what to do with view/edit assignment navigation link #}
                    <!-- <div>
                        <span>{% include 'svg/course-details-book.svg' %}<a href="#">View/Edit Assignments</a></span>
                        <p>Display a list of course assignments. Add a new assignment or edit/delete exisiting assignments.
                        </p>
                    </div> -->
                    <div>
                        {# TODO add link to class roster #}
                        <span>{% include 'svg/course-details-people.svg' %}<a href="{% url 'course-roster' pk=course.pk %}">View/Edit Class Roster</a></span>
                        <p>View a list of students enrolled in the class. Add or remove students from the class roster.</p>
                    </div>
                </nav>
                <details>
                <summary class="light-text">Upcoming Assignments</summary>
                <table class="table table-striped table-hover">
                    <tbody>
                        {% if coursework %}  
                                    {% for assignment in coursework %}
                                    <tr class="generic-row">
                                        <td>{{assignment.dueDate}}</td>
                                        <td style="text-align: center">{{assignment.title}}</td>
                                        <td style="text-align: right">
                                            <a href="{% url 'coursework-detail' pk=course.pk pk2=assignment.pk%}">{% include 'svg/go-arrow.svg' %}</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr class="generic-row">
                                        <td>No Assignments</td> 
                                    </tr> 
                                {% endif %}
                    </tbody>
                </table>
                </details>
            </div>
        </section>
    </div>
{% endblock main-content %}
