{% extends 'core/quicklink_base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block main-content %}
    <div class="ql-content">
        <h1 class="bg-header bg-text">Your Courses</h1>
        <section class="card">
            <div class="card-body">
            {% if course_list %}
                {% for course in course_list %}
                    {% include 'core/course_overview_card.html' %}
                {% endfor %}
                <a href="{% url 'course-create' %}">Create a new course</a>
            {% else %}
                <h2>No courses found</h2>
                <p><a href="{% url 'course-create' %}">Create a course</a> or import one from Google Classroom to begin!</p>
            {% endif %}
            </div>
        </section>
    </div>
{% endblock main-content %}
