{# Markup for a course overview card on the Course List page #}
<section class="card">
    <div class="card-body">
        <header class="card-header">
            <span class="light-text">{{ course.section }}</span>
            {# TODO add link to course details #}
            <h2 class="card-title">{{ course.name }}</h2>
            <time class="light-text">{{ course.startDate | date:"M d, Y" }} - {{ course.endDate | date:"M d, Y" }}</time>
        </header>
        <details>
            {# TODO add actual coursework and tests once model is created #}
            <summary class="light-text">Upcoming Coursework</summary>
            <table class="table table-striped table-hover">
                <tbody>
                <tr class="generic-row">
                    <td>Jun 4</td>
                    <td style="text-align: center">Assignment 1</td>
                    {# TODO add link to assignment details #}
                    <td style="text-align: right">{% include 'svg/go-arrow.svg' %}</td>
                </tr>
                <tr class="generic-row">
                    <td>Jun 11</td>
                    <td style="text-align: center">Assignment 2</td>
                    <td style="text-align: right">{% include 'svg/go-arrow.svg' %}</td>
                </tr>
                </tbody>
            </table>
        </details>
    </div>
</section>
