{% extends 'core/quicklink_base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Your Courses" "course-list" %}
    {% breadcrumb "Create Coursework" "coursework-create" %}
{% endblock %}


{% block main-content %}
    <div class="ql-content coursework">
        <h1 class="bg-header bg-text">Create New Assignment</h1>
        <section class="card">
            <div class="card-body">
                <header class="card-header">
                    <h2 class="card-title">Add Assignment</h2>
                </header>
                <form action="" method="post">{% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.name }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
        </section>
    </div>
{% endblock main-content %}
