{% extends 'core/quicklink_base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Your Courses" "course-list" %}
    {% breadcrumb "Course Detail" "../" %}
    {% breadcrumb "Assignments List" "coursework-list" %}
{% endblock %}

{% block main-content %}
    <div class="ql-content">
        <h1 class="bg-header bg-text">Assignements List</h1>
        <section class="card">
            <div class="card-body">
                <form action="{% url 'coursework-delete' %}" method="post" id="assignments-list">{% csrf_token %}
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr style="text-decoration: underline">
                                <td>Assignment Title</td> 
                                <td>Edit</td>
                                <td>Delete</td>
                            </tr>
                            {% if coursework_list %}  
                                {% for assignment in coursework_list %}
                                    <tr>
                                        <td style="width: 80%">{{assignment.title}}</td>
                                        <td>
                                                {% url 'coursework-update' pk=course.pk pk2=assignment.pk as update_url %}
                                                <a href="{{update_url}}">
                                                    {% include 'svg/pencil-edit-button.svg' %}
                                                </a>
                                            </a>
                                        </td>
                                        <td style="text-align: right">
                                            <input type="checkbox" value="{{assignment.pk}}" name="selected_assignments">
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                    <tr class="generic-row">
                                        <td>No Assignments</td> 
                                    </tr> 
                            {% endif %}
                        </tbody>
                            </table>
                </form>
                <button style="float: right" class="btn btn-dark " type="submit" form="assignments-list" value="Submit" onclick="return confirm('Are You Sure you want to Delete these Assignments?')">Delete</button>
            </div>
        </section>
    </div>
{% endblock main-content %}