{% extends 'core/quicklink_base.html' %}

{% block main-content %}
    <div class="ql-content coursework">
        <h1 class="bg-header bg-text">Create New Assignemnt</h1>
        <section class="card">
            <div class="card-body">
                <header class="card-header">
                        <h2 class="card-title">Add Assignment</h2>
                </header>
                <form action="" method="post">{% csrf_token %}
                    <table>
                        {{ form }}
                    </table>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </section>
    </div>
{% endblock main-content %}
