{% extends 'core/quicklink_base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Your Courses" "course-list" %}
    {% breadcrumb "Course Detail" "../" %}
    {% breadcrumb "Class Roster" "course-roster" %}
{% endblock %}

{% block main-content %}
<div class="ql-content">
    <h1 class="bg-header bg-text">Class Roster</h1>
    <section class="card">
        <div class="card-body">
            <header class="card-header">
                <span class="light-text">{{ course.section }}</span>
                <h2 class="card-title">{{ course.name }}</h2>
                {% if course.startDate and course.endDate %}
                <time class="light-text">{{ course.startDate | date:"M d, Y" }} -
                    {{ course.endDate | date:"M d, Y" }}</time>
                {% endif %}
            </header>
            {% if roster %}
            <table class="table table-striped table-hover">
                {% for entry in roster %}
                <tr>
                    <td>{{entry.student.last_name}}, {{entry.student.first_name}}</td>
                    <td align="right">
                        <span class="ql-icon">
                            {% include 'svg/close-envelope.svg' %}
                            {% include 'svg/pencil-edit-button.svg' %}
                            {% include 'svg/rubbish-bin.svg' %}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h2>No students found</h2>
            <p>Assign students to the course.</p>
            {% endif %}
        </div>
    </section>
</div>
{% endblock main-content %}
