{% extends 'core/quicklink_base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Your Courses" "course-list" %}
{% endblock %}

{% block main-content %}
    <div class="ql-content">
        <h1 class="bg-header bg-text">Your Courses</h1>
        {% if course_list %}
            {% for course in course_list %}
                {% include 'core/course_overview_card.html' %}
            {% endfor %}
            <a href="{% url 'course-create' %}">Create a new course</a>
        {% else %}
            <section class="card">
                <div class="card-body">
                    <h3>No courses found</h3>
                    <p><a href="{% url 'course-create' %}">Create a course</a> or import one from Google Classroom to
                        begin!</p>
                </div>
            </section>
        {% endif %}
    </div>
{% endblock main-content %}
