{% extends 'core/quicklink_base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Your Courses" "course-list" %}
    {% breadcrumb "Create" "course-Create" %}
{% endblock %}

{% block main-content %}
    <div class="ql-content">
        <h1 class="bg-header bg-text">Create New Course</h1>
        <section class="card">
            <div class="card-body">
                <header class="card-header">
                        <h2 class="card-title">Add Course</h2>
                </header>
                <form class ="course-create" action="" method="post">{% csrf_token %}
                    <table>
                        {{ form }}
                    </table>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </section>
    </div>
{% endblock main-content %}
