{% extends 'core/quicklink_base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Assingment Detail" "coursework-detail" %}
{% endblock %}

{% block main-content %}
    <div class="ql-content coursework">
        <h1 class="bg-header bg-text">Assingment Detail</h1>
        <section class="card">
            <div class="card-body">
                <header class="card-header">
                    <span class="light-text"><a href="{% url 'course-detail' pk=course.pk %}">{{ coursework.name }}</a></span>
                    <h2 class="card-title">{{ coursework.title }}</h2>                  
                </header>
                <div class="coursework-detail"> 
                    <h3>Instructions:</h3>
                    <p>{{ coursework.description}}</p>  
                    <p>Due Date: <time class="light-text">{{ coursework.dueDate | date:"M d, Y" }}</time></p>
                    <span>Max Points:  {{ coursework.maxPoints }}</span>
                </div>
            </div>
        </section>
    </div>
{% endblock main-content %}
