{% extends 'core/quicklink_base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Your Courses" "course-list" %}
    {% breadcrumb "Course Details" "course-detail" %}
{% endblock %}

{% block main-content %}
    <h1></h1>

    <section class="card">
        <div class="card-body">
            <header class="card-header">
                <h2 class="card-title">Are you sure you want to delete this course?</h2>
            </header>
            <div class="delete-confirm-buttons">
                <form action="{% url 'course-delete' pk=object.pk %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-danger btn-block" type="submit" value="Delete"/>
                    <p style="padding-top: 1rem;"><a href="{% url 'course-detail' pk=object.pk %}">No, take me back to course details.</a></p>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
