{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}
{% load socialaccount %}

{% block site_title %}+Gradify{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="ql-content">
    {% if user.is_authenticated %}
        <h1 class="bg-header bg-text">Welcome {{ user.username }}</h1>
        <section class="card">
        <div class="card-body">
            <p><a href="{% url 'course-list' %}">View Courses</a></p>
            <p><a href="{% url 'account_change_password' %}">Change Password</a></p>
            <p><a href="{% url 'account_logout' %}">Log out</a></p>
            <br />
            <p><a target="_blank" href="{% url 'google_classroom_list' %}">Perform Google Integration Test</a></p>
        </div>
    </section>
    {% else %}
        <h1 class="bg-header bg-text">Welcome to Gradify!</h1>
        <section class="card">
        <div class="card-body">
            <a href="{% url 'account_signup' %}">Sign Up</a>
            <br /><br />
            <a href="{% url 'account_login' %}">Log In </a>
            <br /><br />
            <a href="{% provider_login_url 'google' %}">Log In with Gmail</a>
        </div>
        </section>
    {% endif %}
    </div>
{% endblock content %}
