{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}
{% load socialaccount %}

{% block site_title %}+Gradify{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="ql-content">
    {% if user.is_authenticated %}
    <h1 class="bg-header bg-text">Welcome {{ user.username }}</h1>
    <section class="card">
        <div class="card-body">
            <p><a href="{% url 'course-list' %}">Courses</a></p>
            <p><a href="{% url 'account_change_password' %}">Change Password</a></p>
            <p><a href="{% url 'account_logout' %}">Log out</a></p>
            <br />
            <p><a target="_blank" href="{% url 'google_classroom_list' %}">Perform Google Integration Test</a></p>
            {% else %}
            <div class="login-form">
                <p align="center">{% include 'svg/graduation.svg' %}</p>
                <p align="center">{% include 'svg/gradify-with-check.svg' %}</p>
                <div class="text-center social-btn">
                    <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-block"><i class="fa fa-google"></i>
                        Sign in with <b>Google</b></a>
                </div>
                <div class="or-seperator"><i>or</i></div>
                <div class="text-center">
                    <a href="{% url 'account_login' %}" class="btn btn-block login-btn">Sign in</a>
                </div>
            </div>
            <div class="hint-text small text-center">Don't have an account? <a href="{% url 'account_signup' %}"
                    class="text-success">Register Now!</a></div>
        </div>
    </section>
</div>

{% endif %}
{% endblock content %}
