{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}
{% load socialaccount %}

{% block site_title %}+Gradify{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="ql-content-container">
        {# Empty div is here on purpose because flexbox #}
        <div></div>
        <div class="ql-content">
            {% if user.is_authenticated %}
                <h1 class="bg-header bg-text">Welcome, {{ user.username }}!</h1>
                <section class="card">
                    <div class="card-body">
                        <p>What would you like to do?</p>
                        <ul>
                            <li style="padding-bottom: 0.5rem">
                                <a href="{% url 'course-list' %}">View Courses</a>
                            </li>
                            <li style="padding-bottom: 0.5rem">
                                <a href="{% url 'account_change_password' %}">Change Password</a>
                            </li>
                            <li>
                                <a href="{% url 'account_logout' %}">Log out</a>
                            </li>
                        </ul>
                    </div>
                </section>
            {% else %}
                <div class="login-form">
                    <p style="text-align: center">{% include 'svg/graduation.svg' %}</p>
                    <p style="text-align: center">{% include 'svg/gradify-with-check.svg' %}</p>
                    <div class="text-center social-btn">
                        <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-block">
                            <i class="fa fa-google"></i>
                            <div style="position: relative; left: -1rem;">Sign in with <b>Google</b></div>
                        </a>
                    </div>
                    <div class="or-separator"><i>or</i></div>
                    <div class="text-center">
                        <a href="{% url 'account_login' %}" class="btn btn-block login-btn">Sign in with <b>Gradify</b></a>
                    </div>
                </div>
                <div class="hint-text small text-center">
                    Don't have an account? <a href="{% url 'account_signup' %}" class="text-success">Register Now!</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
