{% extends 'core/quicklink_base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Your Courses" "course-list" %}
{% breadcrumb "Edit Grade" "studentsubmission-update" %}
{% endblock %}

{% block main-content %}
<div class="ql-content coursework">
    <h1 class="bg-header bg-text">Edit Grade</h1>
    <section class="card">
        <div class="card-body">
            <header class="card-header">
                <h2>Update Grade</h2>
            </header>
            <form action="" method="post">{% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </form>
        </div>
    </section>
</div>
{% endblock main-content %}
